@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la Aplicación de Gestión de Empleados</h1>
    <p>Utilice esta aplicación para gestionar los empleados de su empresa.</p>

    <div class="mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Gestión de Empleados</h3>
                        <p class="card-text">Accede al reporte de empleados, añade o edita.</p>
                        <a href="/Empleados" class="btn btn-primary">Ir a Empleados</a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Gestión de Departamentos</h3>
                        <p class="card-text">Accede al listado de departamentos, añade o edita.</p>
                        <a href="/Departamentos" class="btn btn-primary">Ir a Departamentos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</div>
